.welcome {
    font-size: 40px;
    background: #7a838d;
    display: flex;
    height: 30vh;
    width: 30vw;
    align-items: center;
    justify-content: center;
}

.welcome-red {
    background: #c51543;
    display: flex;
    height: 40vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
}

.welcome-green {
    background: #3e9d1c;
    display: flex;
    height: 50vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.welcome-yellow {
    background: #d9920f;
    display: flex;
    height: 60vh;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

.welcome-black {
    background: #000000;
    display: flex;
    height: 70vh;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

body {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
    alignment: center;
}